<form [formGroup]="formFilter" (ngSubmit)="search()">

    <div class="row">

        <div class="col-12 col-md-6">
            <mat-label>Nome</mat-label>
            <mat-form-field class="full-width-form-field" appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput name="name" formControlName="name">
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
            <mat-label>Ativo</mat-label>

            <mat-radio-group aria-label="Menu ativo" name="isActive" formControlName="isActive">
                <mat-radio-button [value]="true">Sim</mat-radio-button>
                <mat-radio-button [value]="false">Não</mat-radio-button>
            </mat-radio-group>
        </div>

    </div>

    <div class="row">

        <div class="col-6">
            <button class="button-main-action" mat-stroked-button type="submit">
                <mat-icon>search</mat-icon>
                Pesquisar
            </button>
        </div>

        <div class="col-6 new">

            <a [routerLink]="['novo']">
                <button mat-button class="new-item">
                    Criar Menu</button>
            </a>
        </div>

    </div>

</form>

<mat-divider />


<div *ngIf="menus.content.length">
    <app-list-menu [list]="menus.content"></app-list-menu>
    <app-pageable (page)="pageClick($event)" [pageIndex]="paginator.pageIndex" [pageSize]="paginator.pageSize"
        [totalElements]="paginator.totalElements!"></app-pageable>
</div>